/* Contiene clases relacionadas con textos, como alineaciones, transformaciones y estilos de texto */

.text-center { text-align: center; }
.text-uppercase { text-transform: uppercase; }
.text-muted { color: #6c757d; }
